/*Our html tags are like boxes, for example the box model takes care of label spacing and edges 

A html tags have:

- content
- padding: distance between the contents and the edge of the box
- border
- margin: distance between boxes of html

*/

h1 {
  color: #3AF178;
}

#selection_pet {
  display: flex;
  /*center content */
  justify-content: center;
  align-items: center;
  /*we can change direction of the elements */
  flex-direction: column;
  height: 100%; /*occupy the entire vertical space */
}

.pet {
  display: flex; /*In order for us to be able to position elements we use display flex */
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20px;
  background: #14D0F6;
  margin: 10px; 
  padding: 5px;
  /*the border property has three properties: size, border type and color. */
  border: 2px solid #78F0EC;
}

input {
  /*display: none; hide elements */
}

/*challenge: the select button to set background, width and height, border and internal 
and external space (padding and margin). */

#boton-pets {
  height: 30px;
  width: 120px;
  background: #32F393;
  border: 2px solid #BEF728; 
  color: #D3EFF1;
}
