/* 
 Flexbox we can align our elements, either vertically or 
 horizontally, where we work with parent 
 elements (container) and child elements (inside the container).
 each type of element has its own properties.

 Parent elements have the properties as: display flex, flex-direction, 
 justify-content, etc.

 Child elements have the properties as: order, flex-grow, flex-basis, etc.  
*/

h1 {
  color: #C493FF;
}

/*we need to identify the parent elements */

/*section is parent element, now we are going to focus all the content */
#selection_pet {
  display: flex;
  /*center content */
  justify-content: center;
  align-items: center;
  /*we can change direction of the elements */
  flex-direction: column;
  height: 100%; /*occupy the entire vertical space */
}
