/*
create a page layout where you have a title, subtitle, images of the Mokepones with their names and selection buttons.

Use AI create images
*/

/*Sort the css according to html order */

/*font-family import of internet (fonts.google) */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster+Two:wght@700&display=swap');

body {
  font-family: 'Bebas Neue', cursive;
i font-family: 'Lobster Two', cursive;
}

#selection_pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.title {
  display: flex;
  /*display let to use justify-content and align-items */
  
  /*justify-content: It defines the alignment along the main axis */
  justify-content: center;

  /*align-items: That horizontal flow is the main axis, so align-items is the  alignment opposite that, on the vertical axis */
  align-items: center;
  color: #3AF178;
  width: 310px;
  height: 50px;
  font-size: 5em;
}

.subtitle {
  font-size: 2.5em; 
}

.card {
  display: flex; /*Sets the display behavior of the element.*/
  /*the property flex-box let to added between elements - use gap */
  gap: 10px;
}

.pet {
  display: flex; 
  justify-content: center; /*center x*/
  align-items: center;/*center y */
  font-size: 20px;
  width: 200px;
  height: 120px;
  background: #14D0F6;
  margin: 10px; 
  padding: 5px;
  border: 3px solid #78F0EC;
   /*Border-radius: small rounding of the border */
  border-radius: 20px;
}


#boton-pets {
  height: 40px;
  width: 300px;
  font-size: 1.4em; /*The font-size property sets the size of the text.*/
  background: #17C4A5;
  border: 2px solid #1CD877; 
  color: #D3EFF1;
  margin: 30px;
  border-radius: 20px;
}

/*Modify size of our Mokepones*/
.pet img {
  height: 100px;
  padding: 15px;
  border-radius: 30px;
}

input {
  display: none;
}
